<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
       
	 <mvc:annotation-driven/>	 
	
	<bean id="entityManagerFactoryUser"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- <property name="persistenceXmlLocation" value="/WEB-INF/persistence.xml" /> -->
		<property name="persistenceUnitName" value="userPersistenceUnit" />
		<property name="packagesToScan" value="com.smartqaserver.model.DO" />
		<property name="dataSource" ref="itapDS" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
	</bean>
	
	
	
	<bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="databasePlatform" value="${db.dialect}" />
	</bean>
	
	 
	
	<bean id="transactionManagerUser" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactoryUser" />
		<property name="dataSource" ref="itapDS" />
		
	</bean>
	
	  
	 <bean id="itapDS"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	      <property name="driverClassName" value="${db.driver}"/>	 
		 <property name="url" value="${db.url}"/>
	     <property name="username" value="${db.user}"/>
	     <property name="password" value="${db.pass}"/>  
	</bean>
	    
	    
      
    
    <tx:annotation-driven transaction-manager="entityManagerFactory" /> 
	<tx:annotation-driven transaction-manager="entityManagerFactoryUser" /> 
	 
	
    <context:property-placeholder location="classpath:properties/DBProperties.properties" />
	 
	 
	
	<bean id="applicationContextProvder"
                        class="com.smartqaserver.security.ApplicationContextProvider"/>
     

</beans>



