<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
		  http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd">
          
   <beans:import resource="spring-config.xml"/>
   <global-method-security pre-post-annotations="enabled" />
   
   
     <http auto-config="true" use-expressions="true">
        <access-denied-handler error-page="/403page"/>
   	 	<intercept-url pattern="/smartQA*" access="hasAnyRole('ROLE_USER','ROLE_ADMIN','ROLE_ENV_OWNR','ROLE_SUPER_ADMIN')" />      			
   		<anonymous enabled='false'/>
   		
		<form-login login-processing-url="/smartQAlogin"  login-page="/login"
			username-parameter="userid" password-parameter="password"
			authentication-failure-url="/authFail?auth=fail"
			authentication-success-handler-ref="authenticationSuccessHandler" />
				
		<session-management invalid-session-url="/login?session=invalid" session-authentication-error-url="/login?session=expired" session-fixation-protection="newSession">
		        <concurrency-control error-if-maximum-exceeded="true" max-sessions="5" expired-url="/login?session=expired" session-registry-ref="sessionRegistry"/>            
		</session-management>
		
		<logout invalidate-session="true" delete-cookies="jsessionid"/>
		
		<remember-me key="uniqueAndSecret" token-validity-seconds="86400"/>
		
		<headers>
     	   <cache-control />
   		 </headers>
  </http>
 
  
	<beans:bean id="authenticationSuccessHandler" class="com.smartqaserver.handler.UserAuthenticationSuccessHandler" />
	
	<!-- Below configuration is for LDAP DEV environment server-->
	 <beans:bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
  		<beans:property name="url" value="${ldap.url}" />
    	<beans:property name="base" value="${ldap.base}" />     
    	<beans:property name="userDn" value="${ldap.userDn}" />     	
	</beans:bean>
	
	<beans:bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
  		<beans:constructor-arg ref="contextSource" />
	</beans:bean>

	<beans:bean id="userSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
  		<beans:constructor-arg index="0" value=""/>
  		<beans:constructor-arg index="1" value="cn={0}"/>
  		<beans:constructor-arg index="2" ref="contextSource" />
	</beans:bean> 
	
	<beans:bean id="ldapAuthProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
 		<beans:constructor-arg>
		   <beans:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
		     <beans:constructor-arg ref="contextSource"/>
		     <beans:property name="userSearch" ref="userSearch" />
		   </beans:bean>
 		</beans:constructor-arg>
 		<beans:constructor-arg>
		   <beans:bean class="com.smartqaserver.security.CustomLdapAuthoritiesPopulator" />
 		</beans:constructor-arg>
	</beans:bean>
 

	<authentication-manager>
	    	<authentication-provider>
		        <user-service>
		            <user name="demo" password="demo" authorities="ROLE_ADMIN" />
		            <user name="demo1" password="demo1" authorities="ROLE_USER" />
		            <user name="demo2" password="demo2" authorities="ROLE_ENV_OWNR" />
		            <user name="demo3" password="demo3" authorities="ROLE_USER" />
		            <user name="demo4" password="demo4" authorities="ROLE_USER" />
		            <user name="admin" password="admin" authorities="ROLE_SUPER_ADMIN" />
		        </user-service>
		    </authentication-provider>
    	<authentication-provider ref="ldapAuthProvider" />
	</authentication-manager> 
 
	
	<beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
	<beans:bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<beans:property name="cacheSeconds" value="0" />
	</beans:bean>
</beans:beans>